        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Sorry if you have the console open and see an error below. It makes my site look pretty on Mobile Safari (iOS 7.1+) -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

        <title>{{ page.title }} | Michael J. Deeb</title>
        <meta name="description" content="{{ page.description }}">

        <!-- Icons -->
        <link rel="apple-touch-icon-precomposed" href="../../apple-touch-icon.png">
        <link rel="shortcut icon" href="../../favicon.ico?v=1" type="image/x-icon">
        <link ref="icon" href="../../apple-touch-icon.png" type="image/png">

        <!-- Google Authorship and Publisher Markup -->
        <link rel="author" href="https://plus.google.com/117636037814189714964/posts">

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="{{ page.title }}">
        <meta itemprop="description" content="{{ page.description }}">
        <meta itemprop="image" content="{{ site.url }}/resources/images/{{ page.image }}">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@michaeljdeeb">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:creator" content="@michaeljdeeb">
        <meta name="twitter:image:src" content="{{ site.url }}/resources/images/{{ page.image }}">
        <meta name="twitter:domain" content="michaeljdeeb.com">

        <!-- Open Graph data -->
        <meta property="og:title" content="{{ page.title }}">
        {% if page.active == 'blog' %}
            <meta property="og:type" content="article">
        {% else %}
            <meta property="og:type" content="website">
        {% endif %}
        {% if page.url contains 'html' %}
            <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        {% else %}
            <meta property="og:url" content="{{ site.url }}{{ page.url }}/">
        {% endif %}
        <meta property="og:image" content="{{ site.url }}/resources/images/{{ page.image }}">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:site_name" content="michaeljdeeb.com">
        <meta property="fb:admins" content="1272690115">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/custom.css">

        {% if page.active == "resume" %}
        <!-- Résumé Preload -->
        <link rel="stylesheet" href="/css/resume.css">
        {% endif %}

        <!-- Boostrap -->
        <link rel="stylesheet" href="/css/bootstrap.css">

        <!-- Font Awesome-->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <script>
            if(location.search){var customurl=location.search.split("nocookies=")[1];var disableStr="ga-disable-UA-49663508-1";if(customurl){document.cookie=disableStr+"=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/";window[disableStr]=true}}if(document.cookie.indexOf(disableStr+"=true")>-1){window[disableStr]=true}
            var gaProperty = 'UA-49663508-1';
            var disableStr = 'ga-disable-' + gaProperty;
            if (document.cookie.indexOf(disableStr + '=true') > -1) {
              window[disableStr] = true;
            }

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-49663508-1', 'michaeljdeeb.com');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        </script>
